/**
 * edb-electron-start
 *
 * (c)2018 - Estúdio Digital Bocca
 */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body, html {
  /* Flat UI Colors - Normal */
  /* background-color: #ecf0f1; */

  /* Flat UI Colors - GB Palette */
  background-color: #f5f6fa;
  
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
}

h1{
  font-size: 4.5rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
}

.text-center{
  text-align: center;
}
