doctype html
html(lang="pt-br")

  //- edb-electron-start
  //- (c)2018-2019 Estúdio Digital Bocca - https://estudiodigitalbocca.com.br/

head
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EDB Electron Start</title>
  <link rel="stylesheet" href="./sass/style.sass">
body
  .container#app
    //- O conteúdo será injetado pelo Vue
  script(src="./js/index.js")
